{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<p>You are well come to your dashboard</p>
<h1>Student Records</h1>


<div class='row'>
    <div class='col-12'>
        {% if user %}
            <div class="card border-light ms-4 me-4 mb-4">
                <div class="card-body">
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                              <tr>

                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for user in user %}
                                <tr>
                                  <td>{{ user.first_name }}</td>
                                  <td>{{ user.last_name }}</td>
                                  <td>{{ user.email }}</td>
                                  <td>

                                          <a class="btn btn-warning me-1" href="{% url 'edit'%}">
                                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                          </a>

                                  </td>
                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </p>
                </div>
            </div>
        {% else %}
            <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
        {% endif %}
        
    </div>
</div>
<p>You can change your password in <a href ="{% url 'password_change' %}">Password Change</a></p>
{% endblock %}

